<!DOCTYPE html>

<html lang="en" ng-app="daytris">
  <head>
    <base href="/demo/">
    <meta charset="utf-8">
    <title>Daytris</title>
    
    <link rel="stylesheet/less" type="text/css" href="/demo/less/daytris.less">
    <script src="less/less.js" type="text/javascript"></script>
    
    <link rel="shortcut icon" type="image/png" href="/demo/images/favicon.png">
    
    <!-- JAVASCRIPTS -->
    
    <!-- angular-ui-calendar with angular -->
    <!-- jquery, moment, and angular have to get included before fullcalendar -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/demo/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/lang/de.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/gcal.js"></script>
    
    <!-- uikit -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/uikit.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/components/autocomplete.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/components/datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/components/timepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/components/tooltip.min.js"></script>
    
    <!-- angular-elastic -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-elastic/2.5.0/elastic.min.js"></script>
    
    <!-- angular-zeroclipboard -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
    <script type="text/javascript" src="/demo/bower_components/angular-zeroclipboard/src/angular-zeroclipboard.js"></script>
    
    <!-- primus, pubsub -->
    <script type="text/javascript" src="/primus/primus.js"></script>
    <script type="text/javascript" src="/pubsub-client.js"></script>
    <script type="text/javascript">
    PUBSUB_CLIENT = require('pubsub-client')
    </script>
    
    <!-- daytris -->
    <script type="text/javascript" src="/demo/dist/bundle.js"></script>
    
  </head>
  <body ng-controller="MainCtrl as main">
    <div class="dt-header" tns="navigation">
      <h1 class="dt-header-element dt-heading" ng-bind="('Daytris / ' + getPage().title) || getPage().defaultTitle">Daytris Social Organizer</h1>
      <div class="dt-header-element">
        <form class="uk-form" ng-submit="main.updateUsername()">
          <a class="uk-button uk-button-large" ui-sref="newCalendar()" t>New Calendar</a>
          <span tns="user">
            &nbsp;|
            <span ng-cloak ng-if="!main.username" t>Set your name:</span>
            <span ng-cloak ng-if="main.username" t>My name is</span>
            <input type="text" class="uk-form-large" ng-model="main.username" placeholder="Your Nickname" t ttarget="placeholder">
            <button type="submit" class="uk-button uk-button-primary uk-button-large" ng-cloak ng-show="main.usernameDirty()" t>Set</button>
            <div class="dt-color-palette">
              <a class="dt-color-icon dt-chosen" ng-click="main.togglePalette()" ng-style="{ 'background-color': chosenColor() }"></a>
              <div class="dt-color-palette" ng-cloak ng-show="main.palette">
                <span ng-repeat="color in niceColors"><a class="dt-color-icon" color-chooser-icon="{{color}}"></a> </span>
              </div>
            </div>
          </span>
        </form>
      </div>
    </div>
    
    <div id="messageModal" class="uk-modal" tns="messageModal">
      <div class="uk-modal-dialog">
        <div ng-bind="main.messageModal.message"></div>
        <hr class="dt-blank-divider">
        <div>
          <button type="button" class="uk-button uk-modal-close" ng-click="main.messageModal.okFunc()" ng-bind="main.messageModal.okButtonText">OK</button>
          <button type="button" class="uk-button uk-modal-close" ng-bind="main.messageModal.cancelButtonText">Cancel</button>
        </div>
      </div>
    </div>
    
    <div id="emailAddressModal" class="uk-modal" tns="emailAddressModal">
      <div class="uk-modal-dialog">
        <div ng-bind="main.emailAddressModal.message"></div>
        <hr class="dt-blank-divider">
        <form class="uk-form" name="emailAddressForm" ng-submit="main.emailAddressModal.setAnonymousUserEmailAddressFunc()">
          <input type="email" class="uk-width-medium" ng-model="main.emailAddressModal.emailAddress" placeholder="Please type your e-mail address" t ttarget="placeholder">
        </form>
        <hr class="dt-blank-divider">
        <div>
          <button type="submit" class="uk-button uk-button-primary uk-modal-close" ng-disabled="!main.emailAddressModal.emailAddressValid()" t>OK</button>
          <button type="button" class="uk-button uk-modal-close" ng-click="main.emailAddressModal.okFunc()" t>Skip this</button>
          <button type="button" class="uk-button uk-modal-close" t>Cancel</button>
        </div>
      </div>
    </div>
    
    <div class="dt-page dt-table-grid">
      <div class="dt-table-grid-cell dt-outer-sidebar">
        <a ng-click="main.logoClick()"><img alt="Daytris Logo" src="images/daytris.jpg"></a>
      </div>
      <div class="dt-table-grid-cell dt-table-grid-center-cell">
        <div ui-view></div>
      </div>
    </div>
  </body>
</html>
